* {
    box-sizing: border-box;
}

:root {
    --color1: #8fbc8f;
    --color2: #f4f4f4;
    --color3: #338533;
}

body {
    margin: 0;
    font-family: arial;
    line-height: 1.4;
}

div.background {
    background-image: linear-gradient(to right,#4F4F65, #515167, #494960, #27273E,  #242439);
}

.center {
    text-align: center;
}

div.cover {
    background: url(content/cover_overlay.png) no-repeat center/100% 100%, url(content/cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
    color: white;
}

img.cover {
    display: block;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

h1.cover {
    color: white;
    font-size: 42px;
    margin-top: 5px;
    margin-bottom: 3px;
}

p.cover {
    color: lightgrey;
    margin-top: 3px;
    margin-bottom: 30px;
}

div.cover-contact {
    position: absolute;
    border-left: var(--color1) solid 5px;
    top: 10px;
    left: 10px;
}

div.cover-contact p {
    background-color: #22222266;
    color: var(--color1);
    text-align: center;
    margin: 0px 5px 0px 5px;
    padding: 2px 5px 2px 5px;
    vertical-align: middle;
    border: var(--color1) solid 2px;
    width: 200px;
}

div.cover-contact a:first-child p:first-child {
    margin-bottom: 5px;
}


div.contact {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--color3);
    text-decoration: none;
}

div.cover-contact a {
    position: relative;
}

a span.hover {
    display: none;
}

a:hover span.contact {
    display: none;
}

a:hover span.hover {
    display: inline;
}
a:hover p{
    background-color:#77779977;
    transform: scale(1.2, 1.2);
    transform-origin: left;
}

p.cover {
    background-color: #22222266;
    display: block;
    font-weight: bold;
    font-size: 18px;
    border: var(--color1) solid 3px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 15px 30px 15px 30px
}

p.cover:hover {
    transform: scale(1.2, 1.2);
    transform-origin: center;
    background-color:#77777788;
}

div.texte {
    background-color: white;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div.section {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.section-grise1 {
   background: url(content/triangle2white.svg) no-repeat center bottom/100% ;
   background-color: var(--color2);
   padding-bottom: 80px;
   width: 100%;
}

div.section-grise2 {
    background: url(content/triangle1white.svg) no-repeat center top/100% ;
    background-color: var(--color2);
    padding-top: 100px;
    padding-bottom: 30px;
}

h2 {
     text-align: center;
     font-size: 28px;
     font-weight: bolder;
     margin-top: 0;
     margin-bottom: 40px;
}

div.ligne {
    height: 2px;
    width: 150px;
    background-color: var(--color3);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 18px;
}

div.section-grise1 p {
    color: #656565;
    text-align: center;
    font-size: 20px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    max-width: 450px;    
}

span.savoir-plus {
    padding: 3px 5px 3px 5px;
}

.col40 {
    width: 38%;
    display: inline-block;
    text-align: right;
    overflow: hidden;
    position: relative;
    min-height: 375px;   
}

.col60 {
    width: 58%;
    float: right;
    text-align: left;
}     
 
.image-wrapper {
    vertical-align: top;
}

div.section img {
    background-color: var(--color2);
    width: 100%;
}

div.ligne-verticale {
    border-left: 3px solid var(--color3);
    height: 62px;
    padding-left: 8px;
    display: inline-block;
}

div.ligne-verticale p {
    margin-top: -2px;
}

div.table {
    height: 100%;
}

table {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

table.colonne-droite {
     float: right;
}

div.ligne-verticale-middle {
    background-color: var(--color3);
    height: 62px;
    width: 3px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 30px;
}

td {
    padding: 0;
    padding-right: 10%
}

td img {
    height: 100%;
    display: block;
}
span.lien {
    text-decoration: underline;
    font-size: 18px;
}

div.section-iframe {
    padding-bottom: 100px;
    text-align: center;
}

iframe {
    width: 100%;
    border: none;
    height: 350px;
}


/*PORTFOLIO*/

div.portfolio-header {
    height: 90px;
    background: url(content/cover.jpg) no-repeat center/cover;
    color: white;
}

div.portfolio-header-ligne-verticale {
    border-left: 3px solid var(--color1);
    height: 40px;
    margin-left: 12px;
    margin-top: 25px;
    display: inline-block;
}

p.portfolio-header {
    color: white;
    font-size: 24px;
    margin-top: 3px;
    margin-left: 8px;
}

div.portfolio-bouton {
    float: right;
    margin-right: 35px;
}

p.portfolio-bouton {
    color: white;
    background-color: #22222266;
    font-weight: bold;
    font-size: 14px;
    border: var(--color1) solid 3px;
    margin-top: 18px;
    width: fit-content;
    padding: 15px 30px 15px 30px
}

p.portfolio-bouton:hover {
    transform: scale(1.2, 1.2);
    transform-origin: center;
    background-color:#77777788;
}

h1.portfolio {
    font-size: 46px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 0px;
}

h2.portfolio {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

div.section div.ligne-verticale {
    margin-top: 15px;
    margin-left: 8%
}

div.portfolio-back {
    text-decoration: underline;
    display: block;
    position: absolute;
    left: 3%;
}

div.portfolio-image {
    width: 70%;
    text-align: center;
    display: inline;
}

div.portfolio-image a {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
}

img.portfolio {
    background-color: gray;
}

p.portfolio-image {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    /*FOR MOBILE*/
    
    div.cover {
       padding-top: 60px;
    }
    
    h1.cover {
        font-size: 34px;
    }

    h2 {
        margin-bottom: 20px;
    }
    
    .cover p {
        margin-top: 3px;
    }

    div.section {
        padding-left: 3%;
        padding-right: 3%;
    }

    div.section-grise1 {
        padding-top: 10px;
        padding-bottom: 60px;
        width: 100%;
    }

    div.ligne {
        width: 100px;
        margin-top: 15px;
        margin-bottom: 12px;
    }

    .col40 {
        width: 100%;
        text-align: center; 
    }

    div.col40 img {
        position: absolute;
        left: 0px;
        top: -100px;
        min-height: 350px;
    }
    
    .col60 {
        margin-top: 15px;
        width: 100%;
        float: none;
        text-align: left;
    }     
    
    div.section img {
        display: block;
        background-color: var(--color2);
        width: 100%;
    }

    div.section-grise2 {
        padding-top: 50px;
    }
    
    div.table {
        height: 100%;
    }
    
    table {
        width: 100%;
        margin-top: 0;
    }
    
    table.colonne-droite {
         float: none;
         padding-top: 20px;
    }

    div.section-iframe {
        padding-top: 0;
        padding-bottom: 30px;
        overflow: visible;
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 330px;
    }


    /*PORTFOLIO*/

    div.portfolio-header-ligne-verticale {
        margin-left: 7px;
        margin-top: 30px;
        height: 30px;
    }

    p.portfolio-header {
        font-size: 18px;
        margin-top: 3px;
        margin-left: 5px;
    }

    div.portfolio-bouton {
        margin-right: 5px;
    }

    p.portfolio-bouton {
        font-size: 12px;
        margin-top: 25px;
        padding: 10px 18px;
    }

    h1.portfolio {
        font-size: 32px;
    }

    h2.portfolio {
        font-size: 24px;
    }
    div.section div.ligne-verticale {
        margin: 0;
    }

}
        

@media only screen and (max-width: 320px) {
    /*FOR MOBILE*/
    
    div.section-iframe {
        padding-bottom: 10px;
        height: 230px
    }    

     /*PORTFOLIO*/
    div.portfolio-header {
        height: 100px;
    }

    div.portfolio-header-ligne-verticale {
        margin-top: 10px;
    }

    p.portfolio-header {
        margin-bottom: 5px;
    }

    div.portfolio-bouton {
        float: none;
        margin-top: 5px;
    }

    p.portfolio-bouton {
        margin-top: 5px;
    }

    div.portfolio-back {
        left: 0;
        right: 0;
        top: 2px;
        text-align: center;
    }


    h1.portfolio {
        font-size: 28px;
    }

    h2.portfolio {
        font-size: 18px;
    }

}

    
